@import "tailwindcss";

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: "Work Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
